.wp-block-image figcaption {
  color: var(--wp--preset--color--text);
  opacity: 0.8;
}
.wp-block-post-comments {
  margin-top: var(--s-space);
  border-top: 2px solid;
}

.s-mode {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  position: fixed;
  z-index: 100;
  bottom: 10px;
  left: 10px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--wp--preset--color--card);
  background: var(--wp--preset--color--text);
  box-shadow: 0px 2px 2px rgba(black, 0.2), 0px 5px 12px rgba(black, 0.1);
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    top: 0;
    transition: all 320ms ease-out 100ms;
  }
  .icon {
    display: block;
    width: 32px;
    margin: 4px;
  }
  &.active {
    .icons {
      top: -32px;
    }
  }
}

.site-footer {
  margin-top: var(--s-space);
  padding: var(--s-space);
  background-color: var(--wp--preset--color--header);
  font-size: 0.9em;
  @media (min-width: 600px) {
    padding: 16px 60px;
  }
  a {
    color: var(--wp--preset--color--text);
  }
  &.wp-block-columns {
    margin-bottom: 0;
  }
  .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor {
    color: var(--wp--preset--color--text);
  }
}
