.entry-image {
  position: relative;
  min-height: 200px;
  .wp-block-post-featured-image {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 0;
    background-color: var(--wp--preset--color--header);
    overflow: hidden;
  }
  img {
    z-index: 2;
    width: 100%;
    position: relative;
    max-height: 360px;
    object-fit: cover;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  @media (min-width: 992px) {
    img {
      max-height: 400px;
    }
  }
  @media (min-width: 1200px) {
    padding: 0 60px;
    &:after {
      content: "";
      display: block;
      top: 0;
      left: 0;
      right: 0;
      height: 50%;
      position: absolute;
      z-index: 1;
      background-color: var(--wp--preset--color--header);
    }
    img {
      max-height: 500px;
    }
  }
}

.wp-block-post-terms {
  text-align: center;
  position: relative;
  z-index: 10;
  > a {
    display: inline-block;
    padding: 1px 10px;
    background: none;
    background-color: var(--wp--preset--color--accent);
    color: #fff;
    margin: 0 1px;
    font-family: var(--s-heading);
    font-weight: var(--s-heading-weight);
  }
  &__separator {
    display: none;
  }
}
.taxonomy-category {
  transform: translateY(-50%);
}
.wp-block-post-title {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.wp-block-post-date {
  font-size: 0.9em;
  margin-bottom: var(--s-space);
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.entry-content {
  line-height: 1.8;
}
.commentmetadata {
  a {
    background: none;
  }
}
main {
  .taxonomy-post_tag {
    font-size: 0.9em;
    margin: var(--s-space) 0;
    > a {
      background-color: var(--wp--preset--color--card);
      color: var(--wp--preset--color--text);
      border: 1px solid var(--wp--preset--color--text);
      margin: 0 6px;
    }
  }
}

// COMMENT
.comment-respond {
  padding: var(--s-space);
  margin-top: var(--s-space);
  background-color: var(--wp--preset--color--card);
  clear: both;
  .form-submit {
    margin-bottom: 0;
  }
}
.comment-reply-title {
  margin-top: 0;
}
