._space {
  margin-bottom: var(--s-space) !important;
}
._space_0 {
  margin-bottom: 0 !important;
}
._scroll {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}
@media (max-width: 991px) {
  ._desktop {
    display: none !important;
  }
}
@media (min-width: 992px) {
  ._mobile {
    display: none !important;
  }
}
@media (prefers-color-scheme: light) {
  ._dark {
    display: none !important;
  }
}
@media (prefers-color-scheme: dark) {
  ._light {
    display: none !important;
  }
}
// SCROLL FX
.site-loop .wp-block-columns,
.entry-image > img,
.entry-content > *,
.s-fx {
  transform: translateY(90px);
  opacity: 0;
  transition: 1s;
  &.-show {
    transform: translateY(0);
    opacity: 1;
  }
}

// TEXT
.s-text {
  @media (max-width: 599px) {
    &.-sm-left {
      text-align: left;
    }
    &.-sm-right {
      text-align: right;
    }
    &.-sm-center {
      text-align: center;
    }
  }
  @media (min-width: 600px) {
    &.-md-left {
      text-align: left;
    }
    &.-md-right {
      text-align: right;
    }
    &.-md-center {
      text-align: center;
    }
  }
}

// FLEX
.s-flex {
  display: flex;
  @media (max-width: 599px) {
    &.-sm-left {
      justify-content: flex-start;
    }
    &.-sm-right {
      justify-content: flex-end;
    }
    &.-sm-center {
      justify-content: center;
    }
  }
  @media (min-width: 600px) {
    &.-md-left {
      justify-content: flex-start;
    }
    &.-md-right {
      justify-content: flex-end;
    }
    &.-md-center {
      justify-content: center;
    }
  }
}
